@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: outfit;
}

body{
    min-height: 100vh;
    background-color: #f8f1e5;
}

a{
    text-decoration: none;
    color: inherit;
}

hr{
    display: none;
}

.app-content{
    display: flex;
    margin-top: 70px;
    min-height: calc(100vh - 70px);
}

.app-content > div:not(.sidebar){
    flex: 1;
    padding: 30px;
}

.flex-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 900px){
    .app-content > div:not(.sidebar){
        margin-left: 70px;
    }
}