.Verify{
    min-height: 60vh;
    display: grid;
}

.Verify .spinner{
    width: 100px;
    height: 100px;
    place-self: center;
    border: 5px solid #bdbdbd;
    border-top-color: #1f3d2b;
    border-radius: 50%;
    animation: rotate 1s infinite;
}

@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}