.food-display{
    margin-top: 40px;
    animation: slideInUp 0.5s ease;
}

.food-display h2{
    font-size: max(2vw, 28px);
    font-weight: 700;
    color: #2c3e50;
    margin-bottom: 35px;
}

.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    margin-top: 15px;
    gap: 50px;
    row-gap: 42px;
}
